*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
 
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(20, 17, 17);
  align-items: center;
}

.logo {
  display: flex;
  margin-top: 20px;
  gap:10px;
}



ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  gap: 30px;
}

 nav a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(49, 79, 228);
  transition: 0.5s;
}



.contact-container {
  margin-top: 200px;
  background-color:bisque;
  /* width: 400px;
  height: 250px; */
  text-align: center;
  font-weight: bold;
}

.register-contact {
  text-align: center;
  background-color: aqua;
  width: 500px;
  height: 600px;
  margin-top: 50px;
  margin-left: 180px;
  
}

input {
  
}

.contact-container img {
  margin-top: 15px;
  
}

.contact-one {  
  margin: auto;
  display: flex;
  background-color: brown;
  width: 400px;
  height: 250px;
  gap: 10px;
}

h3 {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 5px;
}


.contact-two { 
  margin: auto; 
  margin-top: 5px;
  display: flex;
  background-color: brown;
  width: 400px;
  height: 250px;
  gap: 12px;
}

.contact-one  p {  
  margin-top: 15px;
 } 

 .contact-two  p {  
  margin-top: 15px;
 } 

.location {
  
  margin-top: 35px;
  background-color: white;
  width: 50%;
  height: 85%;
}


.phone {
  margin-top: 35px;
  background-color: white;
  width: 50%;
  height: 85%;
}




.whatsapp {
  background-color: white;
  width: 50%;
  height: 85%;
}


.email {
  background-color: white;
  width: 50%;
  height: 85%;
} 



.rodas {
  display: flex;
  background-color: rgb(20, 17, 17);
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 500px;
  border-radius: solid 3px;
  color: aliceblue;
  position: fixed center;
}









/* @media (max-width: 850px) {
  ul {
    display: flex;
  }
} */
