* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.produto > img{
  
  width: 100vw;
  height: 98vh;
  

}

.logo {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.logo-text {
  color:white;
}

header nav .image img{
  background-color: black;
  width: 100%;
}



nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(20, 17, 17);
  
 
 }

ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
}


 nav ul li :hover {
  color: rgb(49, 79, 228);
  transition: 0.3s;
  /* border: 1px solid rgb(49, 79, 228) ; */
  /* padding: 5px; */
  /* border-radius: 15px; */
  
} 

 .login , .cadastrar{
  border: 3px solid  rgb(49, 79, 228);
  background-color:  rgb(49, 79, 228);
  border-radius:35px;
 
 } 
.cadastrar:hover {
 background-color: black;
 transition: 0.5s;
} 

.login:hover {
 background-color: black;
 transition: 0.5s;
}  

.cadastrar a:hover{
  color: yellow;
  transition: 0.5s;
}

.login a:hover{
  color: yellow;
  transition: 0.5s;
}



.login  .cadastrar{
  border: 2px solid  rgb(49, 79, 228);
  border-radius: 35px;
 
 } 



a{
  text-decoration: none;
  color: aliceblue;
}


.module-static .primari-text .p1,.p2 {
  width: 750px;
  margin-bottom: 60px;
  font-size: 25px;
  padding: 100px;
  text-align: left;
}

button {
  margin: 15px;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid black  ;

}

button:hover {
  background-color:rgb(49, 79, 228) ;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid rgb(49, 79, 228) ;
  padding: 5px;
  
  
}


footer{
  display: flex;
  background-color: rgb(20, 17, 17);
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: solid 3px;
  color: aliceblue;
  

    
}


/* @media (max-width: 850px) {
  ul {
    display: flex;
  }
  
} */








