@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    color : #242424;
    font-family: 'Open Sans',sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
  
}

  
  
  .produto > img{
    
    width: 100vw;
    height: 98vh;
    
  
  }

 .image-group{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
 }
 .image-group p {
  font-weight:bold;
  font-size: 20px
 }
.image-group img{
  width: 315px;
  height: 30vw;
  padding: 2px;
 
}

.image-group img:hover{
  height: 30.1vw ;
  border: 2px solid white;
  filter: brightness(130%);
  transition: 0.3s;
}
  
  .logo {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  
  .logo-text p {
    color:white;
    
  }
  
  header nav .image img{
    background-color: black;
    width: 100%;
  }
  
  
  
  nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 17, 17);
    
   
   }
  
  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
  }

  nav ul li a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
    /* border: 1px solid rgb(49, 79, 228) ; */
    /* padding: 5px; */
    /* border-radius: 15px; */
    
  } 
  
  
   nav ul li :hover {
    color: rgb(49, 79, 228);
    transition: 0.3s;
    /* border: 1px solid rgb(49, 79, 228) ; */
    /* padding: 5px; */
    /* border-radius: 15px; */
    
  } 
  


h1,h2,h3,h4,h5,h6 {

    font-weight: 900;
    color : #000;
    
}

.primari-text p {
    margin-bottom: 60px;
    font-size: 25px;
    padding: 100px;
}

p {
    font-family:Raleway ;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #fff;
}

.container {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 20px;
}

section.module p{
margin-bottom: 40px;
}

section.module:last-child{
    margin: 0;
}

section.module h2 {
   margin-bottom: 40px;
   font-size: 30px;

}

section.module.content{
    padding: 40px 0 ;
    background: #1932b17a;
}

section.module.parallax{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width:100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom ,rgba(0,0,0,0)0, rgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,0)0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom ,rgba(0,0,0,0)0, rgba(0,0,0,0) 40%, #000 100%);
}

.module-static{
    height: 680px;
    background-image: url(../Img/ferramentas-de-ponta.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;

}
section.module.parallax-1{
    background-image: url(../Img/celulares-diversos.jpg);

}

section.module.parallax-2{
    background-image: url(../Img/aparelhos-de-alta-tecnologia.avif);
}

section.module.parallax-3{
    background-image: url(../Img/politica-da-qualidade.webp);

}

section.module.parallax-4{
    background-image: url(../Img/Tecnologia-e-educacao-uma-aliada-do-professor.jpg.jpg);

}

section.module.parallax h1 {
    color : #fff;
    text-align: center;
    font-size: 78px;
    font-family: 'Open Sans';
    z-index: 50;
    text-transform: uppercase;

}

footer{
    display: flex;
    background-color: rgb(20, 17, 17);
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: solid 3px;
    color: aliceblue;
    
  
      
  }