Body{
    margin: 0;
    padding: 0;
}

img{
    width: 320px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background:white;
}


.line_1{
    display:flex;
    flex-direction: row;
}


.line_2{
    display: flex;
    flex-direction: row;

}
.samsung_image{
    margin-top: 25px;
    background-image: none;

}

.motorola_image{
    margin-left: 50px;
    width: 320px;
    height: 100px;
}
.asus_image{
    margin-top: 35px;
    
    
}

.xaomi_image{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.lg_image{
    margin-top:  30px;
    margin-bottom: 20px;
    margin-left: 47px;

}

.iphone_image{
    margin-top:15px;
}

.asus_image{
    margin-right: 40px;
}